<!DOCTYPE html>
<html>
  <head>
    <title>Movie API</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>Movie API</h2>
      </div>
      <nav>
        <ul class="nav-links">
          <% if (user) { %>
          <li><a href="/logout">Logout</a></li>
          <li>
            <a href="/profile"><i class="fa fa-user-circle"></i></a>
          </li>
          <% } else { %>
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main>
      <div style="height: 60vh" class="hero-content">
        <h1>Get Your API Token</h1>
        <form method="post" action="/get-token">
          <button type="submit" class="button">Generate Token</button>
          <input type="text" name="token" value="<%= token %>" readonly />
        </form>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Movie API. All Rights Reserved.</p>
    </footer>
  </body>
</html>
